In [132]:
import os
import pandas as pd 

data_path = '/Users/patryk/Documents/vr_ext/vr_ext_results'

data_files = os.listdir(data_path)

data_files_without = [field for field in data_files if 'without_' in field]
data_files_with = [field for field in data_files if 'with_' in field]

list_of_df_without = [pd.read_csv(data_path + '/' + file) for file in data_files_without]
list_of_df_with = [pd.read_csv(data_path + '/' + file) for file in data_files_with]


df_without = pd.concat(list_of_df_without)
df_with = pd.concat(list_of_df_with)

df_with

,nr,nazwa,pp,numberOfSeeds,seeds,totalNumberOfSeeds,numberOfNodes,steps,infectedTotal,infectedTotalPercentage,computionalTime,limitPercentage
0,6,13,0.4,1,1,47,1574,61,1293,82.147395,[],3
1,6,13,0.4,2,2,47,1574,37,1292,82.083863,[],3
2,6,13,0.4,4,4,47,1574,23,1290,81.956798,[],3
3,6,13,0.4,8,8,47,1574,15,1285,81.639136,[],3
4,6,13,0.4,16,16,47,1574,10,1276,81.067344,[],3
...,...,...,...,...,...,...,...,...,...,...,...,...
245,9,11,0.5,1,1,64,6474,125,4484,69.261662,[],1
246,9,11,0.5,2,2,64,6474,73,4482,69.230769,[],1
247,9,11,0.5,4,4,64,6474,40,4475,69.122644,[],1
248,9,11,0.5,8,8,64,6474,24,4464,68.952734,[],1
249,9,11,0.5,16,16,64,6474,14,4439,68.566574,[],1

In [107]:
df_with[(df_with['pp'] == 0.9) & (df_with['limitPercentage'] == 1)]

,nr,nazwa,pp,numberOfSeeds,seeds,totalNumberOfSeeds,numberOfNodes,steps,infectedTotal,infectedTotalPercentage,computionalTime,limitPercentage
0,6,13,0.9,1,1,15,1574,22,1548,98.348158,[],1
1,6,13,0.9,2,2,15,1574,14,1547,98.284625,[],1
2,6,13,0.9,4,4,15,1574,9,1544,98.094028,[],1
3,6,13,0.9,8,8,15,1574,7,1540,97.839898,[],1
4,6,13,0.9,16,16,15,1574,6,1533,97.395172,[],1
...,...,...,...,...,...,...,...,...,...,...,...,...
245,9,11,0.9,1,1,64,6474,76,6269,96.833488,[],1
246,9,11,0.9,2,2,64,6474,42,6266,96.787149,[],1
247,9,11,0.9,4,4,64,6474,26,6264,96.756256,[],1
248,9,11,0.9,8,8,64,6474,19,6259,96.679024,[],1
249,9,11,0.9,16,16,64,6474,13,6248,96.509113,[],1

In [135]:
df_without

,nr,nazwa,pp,numberOfSeeds,seeds,totalNumberOfSeeds,numberOfNodes,steps,infectedTotal,infectedTotalPercentage,computionalTime,limitPercentage
0,6,13,0.8,1,1,62,1574,71,1554,98.729352,[],4
1,6,13,0.8,2,2,61,1574,38,1552,98.602287,[],4
2,6,13,0.8,4,4,58,1574,24,1547,98.284625,[],4
3,6,13,0.8,8,8,59,1574,15,1543,98.030496,[],4
4,6,13,0.8,16,16,56,1574,9,1530,97.204574,[],4
...,...,...,...,...,...,...,...,...,...,...,...,...
245,9,11,0.1,1,1,323,6474,482,1466,22.644424,[],5
246,9,11,0.1,2,2,323,6474,273,1464,22.613531,[],5
247,9,11,0.1,4,4,323,6474,164,1461,22.567192,[],5
248,9,11,0.1,8,8,323,6474,94,1453,22.443621,[],5
249,9,11,0.1,16,16,323,6474,53,1444,22.304603,[],5

In [136]:
df_without['infectedTotalPercentage'].mean()

69.00730046942341

In [137]:
df_with['infectedTotalPercentage'].mean()

69.04318957929875